<html>
    <head>
        {% if title %}
        <title>{{ title }} - CoDe Academy</title>
        {% else %}
        <title>Welcome to CoDe Academy 2019</title>
        {% endif %}
    </head>
    <body>
        <div> <a href="/index">CoDe Academy</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
