{% extends "base.html" %}
{% block content %}
<html>
<head>
  <title>CoDe-Chan!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <div class="main">

      <div class="container">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-7">
      <div class="transwhite">
      <h1>Welcome to CoDe-chan!</h1>
          {% for post in posts %}
          <div>
            <p>
              <div class="toppinfo"><span class="title">{{ post.title }}</span> <span class="username">{{ post.user_name }}<//span></div>
              {{ post.body }}</p>
              <hr>
          </div>
          {% endfor %}
          <hr>
</div>

    </div>
    <div class="col-4">
      <div class="transwhite">
      <h3>Skriv innlegg her:</h3>
        <form action="" method="post" name="post">
            {{ form.hidden_tag() }}

            Title: {{ form.title(size=30, maxlength=140) }}<br />

            Name : {{ form.user_name(size=30, maxlength=140) }}<br />
            Body : {{ form.body(size=30, maxlength=140) }}<br />
            <br />
            <input type="submit" value="Post!"></br>

            
        </form></br>
      </form>
      </div>
    </div>
  </div>

</div>



</div>
</body>
</html>
{% endblock %}
